*.lib
*.obj
*.nupkg
*.sbr
*.tlog
*.bin
/msvc10/log4cppLIB/Debug
/msvc10/log4cppLIB/Release
/msvc10/log4cppLIB/x64/Debug
/msvc10/log4cppLIB/x64/Release
/msvc10/x64/Debug
/msvc10/x64/Release
/msvc11/log4cppLIB/Debug
/msvc11/log4cppLIB/Release
/msvc11/log4cppLIB/x64/Debug
/msvc11/log4cppLIB/x64/Release
*.opensdf
*.sdf
*.suo
*.vcproj
/msvc11/x64/Debug
/msvc11/x64/Release
